* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
   background-image: url(https://images.unsplash.com/photo-1508948692984-c8b6b5175db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   width: 100%;
}

.card {
    width: 90%;
    max-width: 450px;
    background-image: url(images/rubywine.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    margin: 100px auto;
    border-radius: 20px;
    padding: 30px 25px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    border: none;
    outline: none;
    background-color: white;
    padding: 4px 6px;
    border-radius: 25px;
    flex: 1;
    margin-right: 5px;
}

.search button {
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    padding: 4px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.weather{
    display: none;
}
.weather-icon {
    width: 150px;
    margin-top: 20px;
}

.error{
    display: none;
}

.error-message{
    color: yellow;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
}

.temperature {
    font-size: 52px;
    font-weight: 500;
}

.city-name {
    font-size: 30px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.column img {
    width: 35px;
    margin: 10px;
}

.humidity,
.wind {
    font-size: 20px;
}